.btn-rsvp.btn {
    letter-spacing: 3px;
    .navbar & {
        @media(max-width: $grid-float-breakpoint-max) {
            padding: 5px 10px;
            margin-left: 15px;
        }
    }
    .glyphicon {
        font-size: 0.7em;
    }
}
