.header {
	height: 400px;
	background-color: #333;
	background-position: 50% 59%;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
	&:before {
		background-color: rgba(0,0,0,0.4);
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	&:after {
		content: "";
		position: absolute;
		border: 3px solid #fff;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		z-index: 2;
	}
	.photos & {
		background-position: 50% 50%;
	}
	.wedding-party & {
		background-position: 50% 40%;
	}
	h1 {
		text-align: center;
		position: absolute;
		margin: 0;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
	}
}
