.information {
	background-color: $brand-taupe;
    h2 {
        line-height: 1;
        small {
            color: $text-color;
            font-size: 50%;
        }
    }
    .info-box {
        text-align: center;
    }
}
