.information {
    text-align: center;
    h1 {
        line-height: 1;
        font-size: 60px;
        small {
            color: $text-color;
            font-size: 50%;
        }
    }
    h2 {
        margin-top: 0;
    }
    &.wedding {
        background-color: $brand-taupe;
        img {
            margin: 0 auto;
            @media(min-width: $grid-float-breakpoint){
                width: 50%;
            }
        }
        .timeline-item:after {
            content: "";
            position: relative;
            border-bottom: 1px solid #333;
            width: 50px;
            display: block;
            margin: 18px auto 0;
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                margin-bottom: 20px;
            }
        }
    }
    &.burgundy {
        background-color: $brand-primary;
        color: $brand-ivory;
        h1, h2, h3 {
            color: $brand-ivory;
        }
    }
    &.rose-gold {
        @include rose-gold-gradient;
    }
}
