.information {
    text-align: center;
    h1 {
        line-height: 1;
        font-size: 60px;
        small {
            color: $text-color;
            font-size: 50%;
        }
    }
    h2 {
        margin-top: 0;
    }
    &.location {
        background-color: $brand-taupe;
        img {
            width: 50%;
            margin: 0 auto;
        }
        ul {
            list-style: none;
        }
    }
    &.burgundy {
        background-color: $brand-primary;
        color: $brand-ivory;
        h1, h2, h3 {
            color: $brand-ivory;
        }
    }
    &.forrest {
        background-color: $brand-forrest;
        color: $brand-ivory;
        h1, h2, h3 {
            color: $brand-ivory;
        }
    }
}
