.home .logo {
	position: absolute;
	left: 50%;
    top: 100px;
	width: 80%;
	transform: translateX(-50%);
	z-index: 3;
	text-align: center;
	img {
		width: 100%;
		max-width: 400px;
		height: auto;
	}
	@media(min-height: 820px) {
		top: 50px;
		@media(min-width: $screen-md){
			top: 150px;
			img {
				height: 500px;
			}
		}
	}
	@media (min-width: $grid-float-breakpoint){
		left: 40px;
		transform: none;
		width: auto;
		img {
			height: 250px;
			max-width: none;
			width: auto;
		}
	}
	@media(min-width: $screen-md){
		left: 100px;
		img {
			height: 400px;
		}
	}
	h2 {
		text-align: center;
		color: #fff;
	}
}
