.home .logo {
	position: absolute;
	left: 100px;
    top: 100px;
	z-index: 2;
	img {
		height: 400px;
	}
	@media(min-height: 820px) {
		top: 150px;
		img {
			height: 500px;
		}
	}
	h2 {
		text-align: center;
		color: #fff;
	}
}
