.navbar {
	border: none;
	padding-bottom: 20px;
	.background {
		background: rgba(0,0,0,0.8);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		&.open {
			height: 70px !important;
		}
	}
	a {
		font-size: 18px;
	}
}
