.navbar {
	border: none;
	padding: 20px 30px;
	text-align: center;
	position: absolute;
	top: 320px;
	width: 100%;
	border-radius: 0;
	opacity: 1;
	z-index: 3;
	transition: opacity 0.5s ease-in-out;
	.home & {
		top: auto;
		bottom: 0;
	}
	&.scrolled-down {
		position: fixed;
		background-color: rgba(0,0,0,0.6);
		opacity: 1;
		bottom: 0;
		margin-bottom: 0;
		transition: opacity 0.5s ease-in-out;
		padding: 10px 0;
		.nav-logo {
			display: block;
		}
		.navbar-nav {
			float: none;
			text-align: center;
			> li {
				@media(min-width: 768px) {
					float: none;
					display: inline-block;
				}
			}
		}
		&.transitioning{
			opacity: 0;
			transition: opacity 0s ease-in-out;
		}
	}
	.nav-logo {
		width: 60px;
		display: none;
		top: -19px;
		img {
			position: absolute;
			height: 60px;
		}
	}
	a {
		font-size: 22px;
		font-weight: 200;
	}
}
