@font-face {
	font-family:"Weston-Free";
	src: url("fonts/weston/Weston_Free.eot?") format("eot"),
		url("fonts/weston/Weston_Free.woff") format("woff"),
		url("fonts/weston/Weston_Free.ttf") format("truetype"),
		url("fonts/weston/Weston_Free.svg#Weston-Free") format("svg");
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
	@media(max-width: $screen-sm-max) {
		font-size: 50px;
	}
}
h2 {
	@media(max-width: $screen-sm-max) {
		font-size: 40px;
	}
}
h3{
	@media(max-width: $screen-sm-max) {
		font-size: 24px;
	}
}

.text-rose-gold {
	background-image: linear-gradient(to right,#fff3de, #eec9b9, #d4ac98);
	color: transparent;
	-webkit-background-clip: text;
	text-shadow: none;
    &.gradient-reverse {
        background-image: linear-gradient(to right,#d4ac98, #eec9b9, #fff3de);
    }
    .no-backgroundcliptext & {
        background-image: none;
        color: $brand-ivory;
    }
}

.text-rose-gold-hover {
	@extend .text-rose-gold;
	background-image: linear-gradient(to right,darken(#fff3de, 10%), darken(#eec9b9, 10%), darken(#d4ac98, 10%));
    .no-backgroundcliptext & {
        background-image: none;
        color: $brand-ivory;
    }
}

.header-white {
	color: $brand-ivory;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
