@font-face {
	font-family:"Weston-Free";
	src: url("fonts/weston/Weston_Free.eot?") format("eot"),
		url("fonts/weston/Weston_Free.woff") format("woff"),
		url("fonts/weston/Weston_Free.ttf") format("truetype"),
		url("fonts/weston/Weston_Free.svg#Weston-Free") format("svg");
}

.header-white {
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
